* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roobert Trial';
  color: #1a1b1c;
}

@font-face {
  font-family: 'Roobert Trial';
  src: local('Roobert Trial'), url(./assets/DP_roobert_TRIAL//RoobertTRIALVF.woff) format('woff');
}


/* GLOBALS */

h1 {
  font-size: 128px;
  font-weight: 300;
  letter-spacing: -9px;
  line-height: 120px;
  width: fit-content;
}

section {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

legend {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #777;
  text-align: center;
  margin-bottom: 8px;
}

.section-subhead {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -1px;
  text-transform: uppercase;
  position: absolute;
  left: 32px;
  top: calc( 64px + 16px );
}

input {
  outline: none;
  border: none;
  text-align: center;
  field-sizing: content;
  min-width: 410px;
  max-width: 500px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -5px;
  height: 60px;
  /* box-shadow: 0 3px 0 0 white, 0 4px 0 0 black; */
  border-bottom: 1px #1a1b1c solid;
}

input::placeholder {
  color: #1a1b1c;
}

.back {
  display: flex;
  align-items: center;
  position: absolute;
  left: 32px;
  bottom: 32px;
  cursor: pointer;
}

.back img {
  margin-right: 16px;
}


/* NAV */

nav {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  z-index: 2;
}

nav * {
  text-transform: uppercase;
  font-weight: 600;
}

.nav__title {
  display: flex;
  font-size: 14px;
}

.nav__title *:not(:first-child) {
  margin-left: 12px;
}

.nav__crumb {
  color: #777;
}

.nav__btn {
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 10px;
  height: 32px;
  width: 92px;
}


/* HOME */

#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.landing__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}

.landing__discover--outline,
.landing__test--outline {
  width: 301px;
  height: 602px;
  top: calc(50% - 274px);
  display: flex;
  position: absolute;
}

.landing__test--outline {
  right: 0;
  rotate: 180deg;
}

.landing__discover--option,
.landing__test--option {
  font-size: 14px;
  color: #777;
  text-transform: uppercase;
  width: fit-content;
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.landing__test--option {
  right: 0;
}

.landing__test--option img {
  rotate: 180deg;
}

.landing__discover--option img,
.landing__test--option img {
  margin: 0 16px;
  cursor: pointer;
}

.landing__fine {
  position: absolute;
  bottom: 32px;
  left: 32px;
  width: 300px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}


/* INTRO */

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__outline {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1;
  transform: translateY(32px);
  z-index: -1;
}

.intro__outline img {
  position: absolute
}


/* BIRTHPLACE */

#birthplace {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* UPLOAD */

#upload {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upload__camera--outline,
.upload__gallery--outline {
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0.7;
}

.upload__camera--outline img,
.upload__gallery--outline img {
  position: absolute;
}

.camera__icon {
  background-color: black;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0 0 0 6px white, 0 0 0 7px black;
  position: absolute;
  cursor: pointer;
}

.gallery__icon {
  border-radius: 100%;
  border: 2px black solid;
  box-shadow: 0 0 0 6px white, 0 0 0 7px black;
  position: absolute;
  cursor: pointer;
}

.camera__title,
.gallery__title {
  position: absolute;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.camera__title {
  transform: translate(125%, -210%);
}

.gallery__title {
  transform: translate(-115%, 240%);
  text-align: end;
}

.camera__title:before {
  content: '';
  background-color: #1a1b1c;
  height: 1px;
  width: 65px;
  position: absolute;
  left: -66px;
  bottom: -19px;
  rotate: 135deg;
}

.gallery__title:before {
  content: '';
  background-color: #1a1b1c;
  height: 1px;
  width: 65px;
  position: absolute;
  right: -66px;
  top: -19px;
  rotate: 135deg;
}

.upload__camera,
.upload__gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}