* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roobert Trial';
  color: #1a1b1c;
}

@font-face {
  font-family: 'Roobert Trial';
  src: local('Roobert Trial'), url(./assets/DP_roobert_TRIAL//RoobertTRIALVF.woff) format('woff');
}


/* GLOBALS */

h1 {
  font-size: 128px;
  font-weight: 300;
  letter-spacing: -9px;
  line-height: 120px;
  width: fit-content;
}

section {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: hidden;
}

legend {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #777;
  text-align: center;
  margin-bottom: 8px;
}

.section-subhead {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -1px;
  text-transform: uppercase;
  position: absolute;
  left: 32px;
  top: calc( 64px + 16px );
}

input {
  outline: none;
  border: none;
  text-align: center;
  field-sizing: content;
  min-width: 410px;
  max-width: 500px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -5px;
  height: 60px;
  /* box-shadow: 0 3px 0 0 white, 0 4px 0 0 black; */
  border-bottom: 1px #1a1b1c solid;
}

input::placeholder {
  color: #1a1b1c;
  transition: opacity 0.15s ease;
}

input:focus::placeholder {
  opacity: 0;
}

.back,
.proceed {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 32px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -.25px;
  text-transform: uppercase;
}

.back {
  left: 32px;
}

.back img {
  margin-right: 16px;
}

.proceed {
  right: 32px;
}

.proceed img {
  margin-left: 16px;
  rotate: 180deg;
}



/* NAV */

nav {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  z-index: 2;
}

nav * {
  text-transform: uppercase;
  font-weight: 600;
}

.nav__title {
  display: flex;
  font-size: 14px;
}

.nav__title *:not(:first-child) {
  margin-left: 12px;
}

.nav__crumb {
  color: #777;
}

.nav__btn {
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 10px;
  height: 32px;
  width: 92px;
}


/* HOME */

#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.landing__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .5s ease;
}

.landing__discover--outline,
.landing__test--outline {
  width: 301px;
  height: 602px;
  top: calc(50% - 274px);
  display: flex;
  position: absolute;
}

.landing__test--outline {
  right: 0;
  rotate: 180deg;
}

.landing__test--outline2 {
  right: -381px;
  position: absolute;
  top: 50%;
  transform: translateY(-46%);
}

.landing__test--outline3 {
  right: -461px;
  position: absolute;
  top: 50%;
  transform: translateY(-46.5%);
}

.landing__test--outlines {
  opacity: 0;
}

.landing__discover--option,
.landing__test--option {
  font-size: 14px;
  color: #777;
  text-transform: uppercase;
  width: fit-content;
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.landing__discover--option {
  min-width: 180px;
}

.landing__test--option {
  right: 0;
}

.landing__test--option img {
  rotate: 180deg;
}

.landing__discover--option img,
.landing__test--option img {
  margin: 0 16px;
  cursor: pointer;
}

.landing__fine {
  position: absolute;
  bottom: 32px;
  left: 32px;
  width: 300px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}


/* INTRO */

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__outline {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1;
  transform: translateY(32px);
  z-index: -1;
}

.intro__outline img {
  position: absolute
}


/* LOCATION */

#location {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* UPLOAD */

#upload {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upload__camera--outline,
.upload__gallery--outline {
  display: flex;
  justify-content: center;
  align-items: center;
  scale: .7;
}

.upload__camera--outline img,
.upload__gallery--outline img {
  position: absolute;
}

.camera__icon {
  background-color: black;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0 0 0 6px white, 0 0 0 7px black;
  position: absolute;
  cursor: pointer;
}

.gallery__icon {
  border-radius: 100%;
  border: 2px black solid;
  box-shadow: 0 0 0 6px white, 0 0 0 7px black;
  position: absolute;
  cursor: pointer;
}

.camera__title,
.gallery__title {
  position: absolute;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.camera__title {
  transform: translate(125%, -210%);
}

.gallery__title {
  transform: translate(-115%, 240%);
  text-align: end;
}

.camera__title:before {
  content: '';
  background-color: #1a1b1c;
  height: 1px;
  width: 65px;
  position: absolute;
  left: -66px;
  bottom: -19px;
  rotate: 135deg;
}

.gallery__title:before {
  content: '';
  background-color: #1a1b1c;
  height: 1px;
  width: 65px;
  position: absolute;
  right: -66px;
  top: -19px;
  rotate: 135deg;
}

.upload__camera,
.upload__gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* VIDEO*/

#camera__video {
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}

.upload__video {
  display: flex;
  justify-content: center;
}

.upload__video--nav {
  display: flex;
  position: absolute;
  top: 23px;
  left: 32px;
  z-index: 1;
}

.upload__video--title,
.upload__video--crumb {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.upload__video--crumb {
  margin-left: 16px;
}

.upload__video--notif {
  top: 120px;
  position: absolute;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  opacity: 0;
}

.upload__video--button {
  color: white;
  position: absolute;
  right: 32px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.upload__video--button--img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  height: 55px;
  width: 55px;
  margin-left: 16px;
  cursor: pointer;
}

.upload__video--info {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.upload__video--pointers {
  display: flex;
}

.upload__video--pointer {
  margin: 16px;
}

.upload__video--info h4,
.upload__video--pointers div {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.upload__video--back {
  filter: invert(1);
  position: absolute;
  bottom: 32px;
  left: 32px;
  z-index: 1;
  cursor: pointer;
}

/* SNAPSHOT */

.upload__snapshot--buttons {
  display: flex;
  position: absolute;
  bottom: 32px;
}

.upload__snapshot--confirm,
.upload__snapshot--retake {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 16px;
  cursor: pointer;
}


/* PREPARING */

#preparing {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

#preparing img {
  position: absolute;
  scale: .7;
}


/* ANALYSIS MENU */

#analysis-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.analysis-menu__subhead--subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  margin-top: 12px;
}

.analysis-menu__panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.analysis-menu__panel img {
  position: absolute;
  z-index: -1;
}

.analysis-menu__panel--buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  rotate: 45deg;
  gap: 6px;
}

.analysis-menu__panel--button {
  background-color: #f3f3f4;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.analysis-menu__panel--button:hover {
  background-color: #e1e1e2;
}

.analysis-menu__panel--button h4 {
  rotate: -45deg;
}

.analysis-menu__summary {
  position: absolute;
  right: 32px;
  bottom: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.analysis-menu__summary img {
  rotate: 180deg;
  margin-left: 16px;
}


/* ANALYSIS */

#analysis {
  display: flex;
  justify-content: center;
}

#analysis .section-subhead {
  height: 240px;
  width: calc( 100% - 64px );
  margin-bottom: 32px;
}

.analysis__title {
  font-size: 72px;
  font-weight: 400;
  line-height: 64px;
  text-transform: uppercase;
  letter-spacing: -5px;
  margin-top: 8px;
  margin-left: -5px;
}

.analysis__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-top: 12px;
}

.analysis__info {
  position: absolute;
  height: 540px;
  width: calc( 100% - 64px );
  bottom: 112px;
  display: flex;
}

.analysis__info--buttons {
  width: 200px;
  height: 100%;
}

.analysis__info--button {
  background-color: #f3f3f4;
  width: 200px;
  height: 100px;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -1px;
  text-transform: uppercase;
  border-top: 1px #000 solid;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.analysis__info--button:hover {
  background-color: #e1e1e2;
}

.analysis__info--button--selected {
  background-color: #1a1b1c;
}

.analysis__info--button--selected:hover {
  background-color: #1a1b1c;
}

.analysis__info--button--selected h5 {
  color: #fff;
}

.analysis__info--button:not(:last-child) {
  margin-bottom: 8px;
}

.analysis__info--graphic {
  height: 100%;
  width: 100%;
  background-color: #f3f3f4;
  margin: 0 16px;
  padding: 22px 16px;
  border-top: 1px #1a1b1c solid;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -2px;
  text-transform: capitalize;
  position: relative;
}

.analysis__chart {
  max-width: 380px;
  max-height: 380px;
  width: calc(100% - 32px);
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.analysis__info--breakdown {
  background-color: #f3f3f4;
  width: 650px;
  height: 100%;
  border-top: 1px #1a1b1c solid;
  text-transform: capitalize;
}

.analysis__info--breakdown--title {
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.analysis__info--breakdown--title h5 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #1a1b1c;
}

.analysis__info--breakdown--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -.25px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.analysis__info--breakdown--item:hover {
  background-color: #e1e1e2;
}

.analysis__info--breakdown--item h5 {
  transform: translateY(-2px);
}

.analysis__info--breakdown--item h5 img {
  margin-right: 10px;
  transform: translateY(2px);
}

.analysis__info--breakdown--item--selected {
  background-color: #1a1b1c;
}

.analysis__info--breakdown--item--selected:hover {
  background-color: #1a1b1c;
}

.analysis__info--breakdown--item--selected h5 {
  color: #fff;
}

.analysis__ai-imperfect {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1px;
  color: #a0a4ab;
  bottom: 42px;
}

.analysis__buttons {
  position: absolute;
  bottom: 35px;
  right: 32px;
}

.analysis__buttons button {
  outline: none;
  border: none;
  padding: 0 16px;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.analysis__buttons--confirm {
  margin-left: 12px;
  color: #fff;
  background-color: #1a1b1c;
  transition: all 0.2s ease;
}

.analysis__buttons--confirm:hover {
  background-color: #a0a4ab;
  color: black;
}

button.analysis__buttons--disabled {
  background-color: #a0a4ab;
  border: 2px #a0a4ab solid !important;
  color: black;
}

.analysis__buttons--reset {
  border: 2px #1a1b1c solid !important;
  transition: all 0.2s ease;
}

.analysis__buttons--reset:hover {
  background-color: #a0a4ab;
  border-color: #a0a4ab !important;
}
